{erl_opts, [debug_info]}.
{deps, [jiffy, riakc]}.

{relx, [{release, { blog_post, "0.1.0" },
         [blog_post,
          sasl]},

        {overlay_vars, "config/default.config"},
        {overlay, [
                   {template, "etc/sys.config", "{{output_dir}}/releases/{{release_version}}/sys.config"}]},
        {dev_mode, true},
        {include_erts, false},	
        {extended_start_script, true}
]}.

{profiles, [
	   {prod, [{relx, [{overlay_vars, "config/prod.config"}, {dev_mode, false},
                            {include_erts, true}]}]
            },
	   {stage, [{relx, [{overlay_vars, "config/stage.config"}, {dev_mode, false},
                            {include_erts, true}]}]
            },
	   {dev, [{relx, [{overlay_vars, "config/dev.config"}, {dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

% riakc overrides
{overrides,
 [
  {override, rebar3_protobuffs_plugin, [{deps, [ {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]},

  {override, protobuffs, [{deps, []}]},

  {override, riak_pb, [{plugins, [{riak_pb_msgcodegen,
                                   {git, "git://github.com/tsloughter/riak_pb_msgcodegen",
                                    {branch, "master"}}},
                                  {rebar3_protobuffs_plugin,
                                   {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin",
                                    {tag, "0.1.1"}}}]},
                       {provider_hooks, [{pre, [{compile, {protobuffs, compile}},
                                                {compile, riak_pb_msgcodegen}]}]}]}]
}.

{overrides,
 [{override, jiffy, [
     {plugins, [pc]},
     {artifacts, ["priv/jiffy.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.